.link {
    color: rgb(31, 79, 134);
    text-decoration: none;
}

.link:hover {
    color: rgb(172, 15, 46);
    border-bottom: 1px solid;
    outline: none;
}

.link:active {
    color: rgb(19, 112, 0);
}

.link:focus {
    outline: 2px solid currentColor;
}